nav {
    background: darkgray;
}

h5 {
    margin-top: 30px;
}

.navbar a:hover {
    background-color: #000;
}

.jumbotron {
    background-color: lightgray;
}

nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.card {
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    margin-top: -150px;
}

span.bg-dark.text-white {
    padding: 10px 20px 10px 20px;
}

hr.bg-dark {
    height: 2px;
    margin-top: 06px;
}


/*
.row {
    margin-top: 20px;
}


h1.mb-3 {
    padding-top: 0;
}


body {
    font-family: 'Benne', serif;
    background-color: #837b7b3b;
    font-size: 1.1rem;
}

h4#About,h4#Skills, h4 {
    font-weight: 600;
}

h2 {
    margin-top: 1rem;
    font-weight: 500;
}

h4 {
    margin-top: 10px;
}

h5 {
    font-weight: 500;
}

@keyframes picture {
    0%   {border-radius: 0%;}
    25%  {border-radius: 100%;
          transform: rotate(90deg);}
    50%  {transform: rotate(180deg);
          border-radius: 100%;}
    100% { 
          transform: rotate(360deg);
          border-radius: 100%;}
   }
  
  @keyframes move {
    from {top: 0px;}
    to {top: 200px;}
}
    
a.navbar-brand {
    animation-name: picture;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
/*


.auto-slider{
    position: relative;
    box-sizing: content-box;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px darkgray;
 
}



footer {
    background-color: darkgrey;
}





@media (min-width: 1200px){
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.navbar .navbar-nav > a > i {
		display: inline-block;			
		text-align: left;
		min-width: 30px;
		position: relative;
		top: 4px;
	}
	.navbar .navbar-collapse {
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.navbar .navbar-form {
		border: none;			
		display: block;
		margin: 10px 0;
		padding: 0;
	}
	.navbar .navbar-nav {
		margin: 8px 0;
	}
	.navbar .navbar-toggle {
		margin-right: 0;
	}
	.input-group {
		width: 100%;
	}
}