nav {
    background: darkgray;
}

h5 {
    margin-top: 30px;
}

h1.mb-3 {
    padding-top: 15px;
}

h4 {
    margin-top: 10px;
}

body {
    font-family: 'Benne', serif;
    background-color: #837b7b3b
}

.m-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

a {
    color: black;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

footer {
    background-color: darkgrey;
}

h4#Personal\ Statement,h4#Skills, h4 {
    FONT-WEIGHT: 600;
}

@keyframes picture {
    0%   {border-radius: 0%;}
    25%  {border-radius: 100%;
          transform: rotate(90deg);}
    50%  {transform: rotate(180deg);
          border-radius: 100%;}
    100% { 
          transform: rotate(360deg);
          border-radius: 100%;}
   }
  
  @keyframes move {
    from {top: 0px;}
    to {top: 200px;}
}
    
a.navbar-brand {
    animation-name: picture;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@media (min-width: 1200px){
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.navbar .navbar-nav > a > i {
		display: inline-block;			
		text-align: left;
		min-width: 30px;
		position: relative;
		top: 4px;
	}
	.navbar .navbar-collapse {
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.navbar .navbar-form {
		border: none;			
		display: block;
		margin: 10px 0;
		padding: 0;
	}
	.navbar .navbar-nav {
		margin: 8px 0;
	}
	.navbar .navbar-toggle {
		margin-right: 0;
	}
	.input-group {
		width: 100%;
	}
}